@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff7e1;
  --background2: rgb(247, 231, 225);
  --foreground: #444444;
}

a {
  @apply text-blue-500;
}

img {
  max-height: 100%;
}
