@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff7e1;
  --foreground: #444444;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Tsukimi Rounded-Bold', Helvetica, Arial, sans-serif;
}

a {
  @apply text-blue-500 underline;
}
