@tailwind base;
@tailwind components;
@tailwind utilities;

.hanayasai-layout {
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Tsukimi Rounded-Bold', Helvetica, Arial, sans-serif;
}
